p {
  color: white;
  font-family: Cairo;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  text-wrap: wrap;
}

.sub-text {
  font-size: 20px;
}

h3 {
  color: var(--white, #fff);

  /* episode name number */
  font-family: Audiowide;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}

footer {
  background: #ea65ac;
  justify-content: flex-end;
  align-items: center;
  gap: 45px;
  height: 50px;
}

header {
  display: flex;
  /* flex-grow: 1; */
  flex-direction: row;
  align-items: center;
  height: 90px;
  background: url("./assets/Grid.svg"), linear-gradient(180deg, #f8a533 0%, #ed7195 81%, #ec7097 82.5%, #ea65ac 100%);
  background-size: cover;
  padding-left: 72px;
  padding-right: 72px;
}

.main {
  height: 100%;
  padding-bottom: 12px;
  background: #373744;
  /* flex-grow: 1; */
}

button {
  color: var(--white, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}

.content {
  overflow-y: scroll;
  flex-grow: 1;
}

.main-body {
  height: 100vh;
  margin: 0;
  min-height: 100vh;
}

body {
  margin: 0;
  overflow-y: hidden;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 0;
    overflow-y: inherit;
  }

  .main-body {
    height: inherit;
    margin: 0;
    min-height: inherit;
  }

  .main {
    padding-bottom: 0px;
  }
}
